<!DOCTYPE HTML>
<html lang="en" dir="ltr" data-cast-api-enabled="true">

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/yt-uncss.css" name="www-embed-player">
</head>

<body id="" class="date-20170216 en_US ltr  exp-responsive exp-scrollable-guide exp-search-big-thumbs exp-search-big-thumbs246 exp-search-font-18 exp-wn-big-thumbs exp-wn-big-thumbs-v3 exp-wn-font-14   site-center-aligned site-as-giant-card  not-yt-legacy-css webkit webkit-537" dir="ltr">
    <div id="player" style="width: 100%; height: 100%;">
        <div class="html5-video-player unstarted-mode ytp-hide-controls" tabindex="-1" id="player_uid_441003800_1" aria-label="YouTube Video Player">
            <div class="html5-video-container" data-layer="0">
                <video tabindex="-1" class="video-stream html5-main-video" style="width: 1178px; height: 315px; left: 0px; top: -315px;"></video>
            </div>
            <div class="ytp-gradient-top" data-layer="1"></div>
            <div class="ytp-chrome-top ytp-watch-later-button-visible ytp-share-button-visible" data-layer="1">
                <div class="ytp-title">
                    <div class="ytp-title-text">
                        <a class="ytp-title-link yt-uix-sessionlink" target="_blank" data-sessionlink="feature=player-title" href="https://www.youtube.com/watch?v={{youtubeID}}"><span>{{title}}</span></a></div>
                </div>
            </div>
            <div class="ytp-thumbnail-overlay ytp-cued-thumbnail-overlay" data-layer="5">
                <div class="ytp-thumbnail-overlay-image" style="background-image: url('https://i.ytimg.com/vi/{{youtubeID}}/sddefault.jpg');"></div>
                <button class="ytp-large-play-button ytp-button" aria-label="Watch {{title}}">
                    <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                        <path class="ytp-large-play-button-bg" d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="#1f1f1e" fill-opacity="0.81"></path>
                        <path d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff"></path>
                        <path d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc"></path>
                    </svg>
                </button>
            </div>
            <div class="ytp-cards-teaser" data-layer="6" style="display: none;">
                <div class="ytp-cards-teaser-box"></div>
                <div class="ytp-cards-teaser-text"><span class="ytp-cards-teaser-label"></span></div>
            </div>
            <div class="ytp-gradient-bottom" data-layer="9" style="display: none;"></div>
        </div>
    </div>
    <script>
    const btn = document.getElementsByTagName('button')[0];
    btn.onclick = () => window.location = "{{{ embedAutoplayUrl }}}";
    // btn.onclick = () => window.location = "https://www.youtube.com/embed/{{youtubeID}}?autoplay=1&tmPassThru";
    </script>
</body>

</html>
